/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Estilos del encabezado */
.header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.header__title {
    margin: 0;
}

/* Estilos de las secciones */
.section {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section__title {
    margin-top: 0;
    color: #333;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Estilo para botones específicos en las secciones */
.section .button-primary {
    padding: 15px 30px;
    background-color: #4CAF50; /* Color verde */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section .button-primary:hover {
    background-color: #07850d; /* Color verde oscuro */
}

.section .button-secondary {
    padding: 15px 30px;
    background-color: #f44336; /* Color rojo */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section .button-secondary:hover {
    background-color: #761915; /* Color rojo oscuro */
}

.footer .button-alert {
    padding: 15px 30px;
    background-color: #FFC107; /* Color amarillo */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer .button-alert:hover {
    background-color: #a57c04; /* Color amarillo oscuro */
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__text {
    margin: 0;
}

.footer__address {
    margin-bottom: 10px;
}
